= form_with(model: familium, local: true) do |form|
  - if familium.errors.any?
    #error_explanation
      h2
        = pluralize(familium.errors.count, "error")
        |  prohibited this familium from being saved:
      ul
        - familium.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :nombreFamilia
    = form.text_field :nombreFamilia, id: :familium_nombreFamilia
  .actions
    = form.submit
